<h1>Hello MAPP Editor! Login in with your secret password:</h1>
<p>After logging in, you'll be able to click on any event and edit it, as well as add new events.</p>
<% form_tag do %>
  <%= text_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
