<% @venues.each do |venue| %>
  <% events_by_venue = @events.select{|e| e.venue_id == venue.id} %>
    <h1 class='bar'><%= link_to venue, venue_path(venue) %> <span class='weak'><%= venue.address_with_hint %></span></h1>
  <% rounded_corners('gray', :no_top => true) do %>
    <%= render :partial => 'events/event_list', :locals => {:events => events_by_venue} %>
  <% end %>
<% end %>
