<% title "MAPP: Mission Arts & Perfomance Project" %>
<% content_for :top_featured_section do %>
  <div id="map_canvas" border='1px solid #ddd' style="width:845px; height:181px; "></div>
<% end %>
<h1>Mission Arts & Performance Project: June 5, 2010</h1>
<p>Your Map of the MAPP courtesy of missionclick</p>
