body {
  color: #111;
}

ul li { 
  margin-left: 20px;
}
ul {
  margin-bottom: 10px;
}
a, a:hover, a:visited { color:#1B5CCD; text-decoration: none }
a.action { text-decoration: underline }

p { margin-bottom: 9px; }

fieldset {
  background: #eee;
  padding: 9px;
  border: 1px solid #ddd;
  margin-bottom: 9px;
}

h3, legend {
  font-size: 20px;
  font-weight: bold;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
div.spacer { margin-bottom:18px; height:1px; clear:both; overflow:hidden }

.flash {
  padding: 5px 24px;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  margin:0;
}

#flash_notice, #flash_alert {
}

.flash_notice, #flash_notice {
  background-color: #CFC;
  border-color:#6C6;
}

#flash_alert {
  background-color: #FCC;
  border-color:#C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border:1px solid #ddd;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  margin: 0;
  background-color: #c22;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
  font-size: 14px;
}

#errorExplanation ul {
  margin: 2px 8px;
}

#errorExplanation ul li {
  font-size: 14px;
  list-style: none;
}

ul.flat, ul.form { 
  list-style-type: none;
  margin: 0;
}
ul.flat li {
  margin: 0;
}


.big { font-size: 18px; }

/* icons */
img.icon_24 { margin-bottom: -6px }
img.icon_16 { margin-bottom: -3px }

/* forms */
ul.form li { margin-bottom: 9px; }
ul.form li.label { margin-bottom: 0; }
ul.form label { font-weight: bold; color: #333 }
ul.form input[type='text'], ul.form input[type='password'] { font-size: 20px }

/* home */
div#user_login_box { width: 280px; margin: 0 auto; margin-bottom: 18px } 
div.facebook_connect_link { display: inline }
div.facebook_connect_link.sign_in { margin-bottom: -9px }

div.center { margin: 0 auto; text-align: center; margin-top: 9px }
div.box { clear:both}
div.box img.icon { float: left; margin-right: 10px; display:block; width:48px }
div.box div.content { float: left; width:203px }
div.box img.small_icon { width: 24px; height: 24px; margin-bottom:-6px; }

/* tags */
span.tag { padding: 2px 4px; background: #ddd }

/* venue show */

div.rightBox { float:right }

/* venue index */

span.event_tomorrow_notice, span.event_today_notice { color: white; padding: 1px 4px; font-size: 12px; font-weight: strong }
span.event_today_notice { background: #c22 }
span.event_tomorrow_notice { background: #51bc02; }

/* gmap */
.mapMarker {font-size: 11px; width: 165px;}
.mapMarker .businessimage { float: left;}
.mapMarker .ratingsimage {vertical-align:middle; margin-top:0px;}
.mapMarker .businessinfo { margin-left: 50px;}
.sidebar {margin:5px;padding:5px;border:1px solid #e6e6e6;}
.small {font-size:8pt;}
#listingsBox {position:absolute; top:250px; left:5px; width:160px;}

/* tables */
table { border-spacing: 0}
td { padding: 4px 4px 0 0}
tr.even td { background: #f9f9f9; }
tr.odd td { background: #e9e9e9; }

/* fb profile */
img.fb_profile_pic_small {float: left; margin-right: 9px; }

.twtr-widget {
margin-bottom: 15px;
}


/* rounded corners */
.b1f, .b2f, .b3f, .b4f{font-size:1px; overflow:hidden; display:block;}
.b1f {height:1px; background:#f0f0f0; margin:0 5px;}
.b2f {height:1px; background:#f0f0f0; margin:0 3px;}
.b3f {height:1px; background:#f0f0f0; margin:0 2px;}
.b4f {height:2px; background:#f0f0f0; margin:0 1px;}
.contentf {background: #f0f0f0; margin-bottom}
.contentf div.inner_contentf {margin-left: 9px; margin-right:9px; padding-top:2px;} 

.inner_contentf p { margin-bottom: 0; padding-bottom: 9px;}
.inner_contentf table { margin-bottom : 0;}
.inner_contentf h3 { margin-bottom: 0; padding-bottom: 10px;}
.contentf div { margin-bottom: 0;}
.contentf li { margin-bottom: 0;}

/* rounded corner color classes */
.b1f.gray,.b2f.gray,.b3f.gray,.b4f.gray,.contentf.gray {background: #f0f0f0;}
.b1f.green,.b2f.green,.b3f.green,.b4f.green,.contentf.green {background: #51BC02;}
.b1f.yellow,.b2f.yellow,.b3f.yellow,.b4f.yellow,.contentf.yellow {background: #ffffcc;}
.b1f.red,.b2f.red,.b3f.red,.b4f.red,.contentf.red {background:#C22;}
/* end rounded corners */

p.withSubheading { padding-bottom: 0 }

div#map_canvas {
height:181px;
}
h1.bar {
background: #bbb; color: white; padding: 2px 4px;
}
.right { float: right }
