<div class="top_left_featured">
  <div class="bullet">
    <img src="/images/handdrawn/48x48/favourites.png"  alt="" title=""/>
    <p>Find the best places to hang out in the Mission.</p>
  </div>
  <div class="bullet">
    <img src="/images/handdrawn/48x48/user-admin.png"  alt="" title=""/>
    <p>Get custom recommendations on events you'll love.</p>
  </div>
  <div class="bullet">
    <img src="/images/handdrawn/48x48/users.png"  alt="" title=""/>
    <p>Share your plans with your friends.</p>
  </div>
</div>
<% unless @iphone %>
<div class="top_right_featured">
  <div id="map_canvas" border='1px solid #ddd' style="width:529px; height:181px; "></div>
</div>
<% end %>
