<div class="top_left_featured">
  <div class="bullet">
    <img src="/images/handdrawn/48x48/favourites.png"  alt="" title=""/>
    <p><b>Cool Events</b> Find the best places to hang out in the Mission.</p>
  </div>
  <div class="bullet">
    <img src="/images/handdrawn/48x48/hint.png"  alt="" title=""/>
    <p><b>Groovy Music</b> Jazz, Indie, Rock, Classical, only the best.</p>
  </div>
  <div class="bullet">
    <img src="/images/handdrawn/48x48/picture.png"  alt="" title=""/>
    <p><b>Art Stuffs</b> The most interesting art events in the neighborhood.</p>
  </div>
</div>
<div class="top_right_featured">
  <div id="map_canvas" border='1px solid #ddd' style="width:529px; height:181px; "></div>
</div>
