<div id="user_login_box"> 
  <div class="box">
    
  <% if user_signed_in? -%>
    <% if facebook_session %>
      <%= image_tag current_user.fb_profile.pic_square_with_logo, :class => 'fb_profile_pic_small' %>
    <% end %>

    <h3>Hey, <%= current_user.name %></h3>
  <% else %>
    <h3>Howdy stranger</h3>
    <p><%= link_to "Sign up for free", new_user_session_path %> to get personalized event recommendations and subscribe to email and mobile alerts.</p>
  <% end %>

  <%= spacer %>
  </div>
</div>
