<% 10.times do %>     
      <div class='hEvent'>
      <h1><%= image_tag("handdrawn/32x32/calendar.png") %> Sample event at <a href="">Some place</a>, 9pm</h1>
      <p>
This area is where your intro text can go, and this is what your text links will look like.
This area is where your intro text can go, and this is what your text links will look like.</p>
      </div>
      <div class="line"><img src="/images/skins/environmental/h_line.jpg" alt="" width="535	" height="1" title="" /></div>
<% end %>
