<h1>Venues</h1>

<ul class='flat'>
<% @venues.each do |venue| %>
    <li><%=link_to venue.name, venue %></li>
<% end %>
</ul>

<%= spacer %>

<% site_admin_content do %>
  <p><%= link_to '+ New venue', new_venue_path %></p>
<% end %>
