<table>
  <h1>Festivals</h1>
<% @festivals.each do |festival| %>
  <tr>
    <td><%=link_to festival.name, events_path(:festival => festival) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New festival', new_festival_path %>
